@media only screen and (max-width: 950px) {
    .imc {
        p {
            margin-bottom: 30px;
        }
    }

    footer {

        address {
            display: block;
            text-align: center;

            div {
                margin-top: 15px;
            }

            .redes {
                figure {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .banner {
        .main-img {
            figcaption {
                top: 7%;
            }
        }
    }

    .fotos-academia {
        display: block;

        div {
            width: 100%;
        }
    }
}

@keyframes showText {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}