@media only screen and (max-width: 800px) {

}
@media only screen and (min-width: 600px) {

}
/*@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 992px) {

    
}
@media only screen and (min-width: 1200px) {

}*/

@keyframes example {
    0% {opacity: 0; left: 0px; top: 20px;}
    30% {opacity: 1; left: 0px; top: 0px;}
}