*{margin: 0; padding: 0;}
* {
  box-sizing: border-box;
}

body{font-family: 'Raleway', sans-serif;}
main{
    width: 100%;
    height: auto;
    min-width: 980px;
    background-color: #e0e0e0;
}
.logo{
    max-width: 20%;
    min-width: 5%;
    margin-left: 10%;
    margin-top: 3%;
    padding: 10px 5px;
    color: #e0e0e0;
    font-size: 30px;
    border:#e0e0e0 double medium;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: normal;
    min-width: 200px;
    
}
#cabecalho{
    max-width: 100%;
    height: auto;
}

figure.img-header figcaption{
    width: 100%;
    position: absolute;
    top: 10px;
}

.titulo-image{
    max-width: 100%;
    height: auto;
    float: left;
    color: #e0e0e0;
    font-size: 50px;
    padding-top: 5%;
    margin-left: 10%;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: normal;
    min-width: 760px;
    clear: left;
}        
.subtitulo-image{
    color: #e0e0e0;
    float: left;
    font-size: 20px;
    margin: 2% 0% 0% 10%; /*Cima, Direita, Baixo, Esquerda */
    animation-name: example;
    animation-duration: 4s;
    animation-direction: normal;
    min-width: 760px;
}
@keyframes example {
    0%   {color:black;border-color: black; left:0px; top:20px;}
    30%  {color:#e0e0e0;border-color:#e0e0e0; left:0px; top:0px;}
}
/*#txt-aulas{
    color: #424242;
    margin-top: 5%;
}*/
.aulas{
    width: 100%;
    display: flex;
    clear: both;
    text-align: center;
}
.aulas img{
    width: 20%;
    margin: -5% 0 0 4% ;
    box-shadow: black 0px 0px 5px;
}
.objetivo{
    text-align: justify;
    font-size: 20px;
    color:  #424242;
    padding: 162px 132px;/*Cima, Direita, Baixo, Esquerda */
    line-height: 1.75;
}
h1{
    text-align: center;
    font-size: 35px;
    padding: 10px;
}






.foto-academia{
    display: flex;
    padding: 5px 5px;
    height: auto;
    background-color: #424242;
}


.foto-academia > div{
    width: 100%;
    text-align: center;
    text-align: justify;
}

.foto-academia h3{
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
    color: #e0e0e0;
    
}
.foto-academia p{
    font-size: 14px;
    padding: 5px 5px;
    color: #e0e0e0;
}

.foto-academia img{
    width: 100%;
    height: 100%;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
    opacity: 0.4;
}
.foto-academia img:hover{
    opacity: 1;
}









.agendamento{
    width: 20%;
    float: left;
    margin: 10px 10px;
    font-size: 14px;
}
.agendamento h3{
    text-align: center;
    font-size: 15px;
}
.agendamento p{
    text-align: center;
    margin: 5px;
}
.nossos-treinadores{
    width: 15%;
    float: left;
    margin: 10px 10px 14% 10px;
    text-align: center;
    font-size: 14px;
}
.foto-treinadores{margin: 15px}

.foto-treinadores img{width: 35%}

table{
    width: 60%;
    font-size: 14px;
    border-collapse: collapse;
    float: left;
}
h2{
    width: 99.8%;
    text-align: center;
    padding: 9% 0px 5% 0px;/*Cima, Direita, Baixo, Esquerda */
    font-size: 35px;
    color: #424242;
}
th{
    width:100px;
    height: 95px;
    color: #e0e0e0;
    background: #424242;
}
thead th{
    height: 50px;
}
tbody th{
    border: 1px #e0e0e0 solid;
}
th[id="h"]:hover{
    background: #727272;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}
#nome-professor{
    font-size: 12px;
    padding-top: 15px;
}
#onde-estamos{
    width: 99.8%;
    padding: 1% 0px;
    font-size: 20px;
    color: #e0e0e0;
    text-align: center;
    background: #424242;
    clear: both;
}
footer{
    width:100%;
    height: auto;
    border-top: 1px solid gray;
    background-color: #424242;
    color: #e0e0e0;
    font-size: 14px;
}
address{ /*Área do Rodapé*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.endereco, .contato, .redes{
    width: 25%;
    padding: 0px;
    margin: 30px 50px 0px 0px;/*Cima, Direita, Baixo Esquerda */
    line-height: 2;
}
.redes img{
    width: 30px;
    float: left;
    margin-right: 10px;
    clear: left;
}
.redes figure{
    margin: 10px;
}
.versao{
    padding: 5px;
    font-size: 12px;
    text-indent: 5px;
}

@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 992px) {
    
}
@media only screen and (min-width: 1200px) {

}